<p>Dear Fuser,</p>

<p>
  Thank you so much for contributing to our fund for frosty beverages!
</p>

<p>You have donated <%= number_to_currency @purchase.amount %> to the Fuse Beer
  Fund, awarding <%= @transaction.recipient.name %> with
  <%= number_with_delimiter @transaction.points %> votes. We'll buy the top two most-voted beers for our coffers!</p>

<p>With regards,</p>
<p>The Billion Team</p>

<p>Please feel free to email <a href='mailto:ray.li@cardinalhealth.com'>ray.li@cardinalhealth.com</a> with questions, comments, or feedback.</p>
