<section id='dates-section' class='landing-section landing-dates'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Important Dates</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p class='landing-section-subheading'>We know you're busy trying to change the world and everything, so
          here are some important dates to keep in mind.</p>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='timeline'>

        <div class='col-md-3 event-container'>
          <div class='timeline-event timeline-past-event'>
            <span class='timeline-date'>
              <time datetime='2015-06-30'>June 30</time>
            </span>
            <h2>Pitching begins</h2>
            <p>Submit your applications here. We'll be  with next steps.
            </p>
          </div>
        </div>

        <div class='col-md-3 event-container'>
          <div class='timeline-event timeline-past-event'>
            <span class='timeline-date'>
              <time datetime='2015-08-01'>August 1</time>
            </span>
            <h2>Pitching ends</h2>
            <p>The Billion team will select the top eight submissions to compete for funding.</p>
          </div>
        </div>

        <div class='col-md-3 event-container'>
          <div class='timeline-event timeline-past-event'>
            <time datetime='2015-09-01' class='timeline-date'>September 9</time>
            <h2>Rallying begins</h2>
            <p>Submissions selected for participation will be displayed here.
            Share them!
            </p>
          </div>
        </div>

        <div class='col-md-3 event-container'>
          <div class='timeline-event'>
            <span class='timeline-date'>
              <time datetime='2015-09-19'>September 19</time>
              -
              <time datetime='2015-09-20'>20</time>
            </span>
            <h2>Competition</h2>
            <p>Bring your supporters to the festival! We'll announce the winner on the 20th.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
