<section class='landing-section landing-festival' id='festival-section'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Columbus Independents' Day Festival</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p class='landing-section-subheading'>
          Billion
          is excited to hold our first crowdfunding cycle during the
          <a href="http://thisisindependent.com/"
          title="Columbus Independents' Day Festival">
            <strong>Columbus Independents' Day Festival</strong>
          </a>
          on September&nbsp;19&nbsp;-&nbsp;20.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class='col-md-6 lg-festival-img-container'>
    <%= image_tag 'festival.jpg', class: 'festival-img-lg' %>
  </div>

  <div class='container'>
    <div class='row'>
      <div class='col-md-6'>
        <%= image_tag 'festival.jpg', class: 'festival-img-sm' %>
      </div>
      <div class='col-md-6'>
        <div class='festival-step'>
          <h2>Engage with local changemakers</h2>
          <p>Come talk to eight handpicked Columbus locals who are making a
          difference in our community.</p>

          <h2>Play a game &amp; support a cause</h2>
          <p>Have fun with a virtual reality game created by our friends at MVG.
          In the game, you'll earn points which you can allocate to one of the 8
          changemakers.</p>
          <p>Can't make it to the festival, but still want to
          support an idea? We've got your back. Visit us on this website and
          you'll be able to purchase points for the idea of your choosing.</p>

          <h2>Support the winner</h2>
          <p>At the end of the festival, all the money collected during the
            event (and on the website) will go to the changemaker that earns the
            most points.</p>
        </div>
      </div>
    </div>
  </div>
</section>
