<section id='dates-section' class='landing-section landing-dates'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Event Timeline</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p class='landing-section-subheading'>Here's the plan!</p>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='timeline'>

        <div class='col-md-4 event-container'>
          <div class='timeline-event'>
            <span class='timeline-date'>
              <time datetime='2016-9-29T13:00:00'>Tuesday 9/20 1pm </time>
            </span>
            <h2>Innovation Showcase</h2>
            <p>
            Decide the mission statement of the fund.
            </p>
          </div>
        </div>

        <div class='col-md-4 event-container'>
          <div class='timeline-event'>
            <span class='timeline-date'>
              <time datetime='2016-9-28T11:30:00'>Wednesday 9/28 11:30am</time>
            </span>
            <h2>Founder's Lunch</h2>
            <p>
            Decide on who receives the innovation fund.
            </p>
          </div>
        </div>

        <div class='col-md-4 event-container'>
          <div class='timeline-event'>
            <span class='timeline-date'>
              <time datetime=''>TBA</time>
            </span>
            <h2>Decision Day</h2>
            <p>
            Winner Announced
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
