<section id='dates-section' class='landing-section landing-dates'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Event Timeline</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p class='landing-section-subheading'>Here's the plan!</p>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='timeline'>

        <div class='col-md-4 event-container'>
          <div class='timeline-event'>
            <span class='timeline-date'>
              <time datetime='2016-02-19'>Friday 2/19</time>
            </span>
            <h2>GiveBackHack Begins</h2>
            <p>Pitch your ideas, and form teams.</p>
          </div>
        </div>

        <div class='col-md-4 event-container'>
          <div class='timeline-event'>
            <span class='timeline-date'>
              <time datetime='2016-02-20'>Saturday 2/20</time>
            </span>
            <h2>Team Info Collection</h2>
            <p>The Billion team be collecting information on your teams. Please
              have your team name, a short and long description, and your
              member bios ready.</p> </div> </div>

        <div class='col-md-4 event-container'>
          <div class='timeline-event'>
            <time datetime='2016-2-21' class='timeline-date'>Sunday 2/21</time>
            <h2>Fundrasing and announcing winner</h2>
            <p>During judges deliberation, donations will be accepted at the
              event and online. After the votes has been tallied, the winner
              will be announced.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
