<section id='dates-section' class='landing-section landing-dates'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Event Timeline</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p class='landing-section-subheading'>Here's the plan!</p>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='timeline'>

        <div class='col-md-4 event-container'>
          <div class='timeline-event'>
            <span class='timeline-date'>
              <time datetime='2016-8-19'>Friday 8/19 5:30pm</time>
            </span>
            <h2>Innovation Showcase</h2>
            <p>See booths of the 11 company cohort that participated in the SEA
              Change 2016 accelerator.</p>
          </div>
        </div>

        <div class='col-md-4 event-container'>
          <div class='timeline-event'>
            <span class='timeline-date'>
              <time datetime='2016-8-19'>Friday 8/19 6:30pm</time>
            </span>
            <h2>Pitches Begin</h2>
            <p>Watch pitches of the top 6 teams of the 2016 cohort.</p>
          </div>
        </div>

        <div class='col-md-4 event-container'>
          <div class='timeline-event'>
            <span class='timeline-date'>
              <time datetime='2016-8-19'>Friday 8/19 8:30pm</time>
            </span>
            <h2>People's Choice</h2>
            <p>Vote on your favorite idea with your dollars on our website!
              After the votes have been tallied the winner will be
              announced.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
