<section class='landing-section landing-gbh' id='festival-section'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>GiveBackHack Columbus 2016</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p class='landing-section-subheading'>
            Have an idea to solve social problems? Let's make it happen!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class='container'>
    <div class='row'>
      <div class='col-md-6 gbh-logo'>
        <%= image_tag 'gbh/gbh-logo.png' %>
      </div>
      <div class='col-md-6'>
        <div class='festival-step'>
          <h2>Share Your Idea</h2>
          <p>Pitch your ideas to a room full of passionate community leaders,
            designers, developers, and other concerned citizens, who will be
            able to bring yoru vision to reality.</p>

          <h2>Form teams</h2>
          <p>Team up around an idea that you believe in and work on it over the
            weekend. Build an MVP with the support of some incredible
            mentors.</p>

          <h2>Present Your Idea</h2>
          <p>Present the idea with your team to a panel of judges. The top
            teams are provided with resources to move forward and sustain their
            ideas.</p>
        </div>
      </div>
    </div>
  </div>
</section>
