<section class='landing-section landing-join'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Join the Movement</h1>

      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p class='landing-section-subheading'>
            Subscribe to our mailing list and we'll keep you updated on our
            progress.<br/>
            <a href='mailto:hello@billioneffect.com'>
            Still have questions? Ask away!</a>
          </p>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3'>
        <%= render 'pages/subscription_form' %>
      </div>
    </div>
  </div>
</section>
