<section class='landing-section landing-gbh' id='festival-section'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>SEA Change Columbus 2016</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p class='landing-section-subheading'>
            Have an idea to solve social problems? Let's make it happen!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class='container'>
    <div class='row'>
      <div class='col-md-6 gbh-logo'>
        <%= image_tag 'gbh/gbh-logo.png' %>
      </div>
      <div class='col-md-6'>
        <div class='festival-step'>
          <h2>Accelerate</h2>
          <p>11 teams have participated in the SEA Change accelerator for the
            past 12 weeks learning how to build a sustainable, profitable
            social enterprise. Each team is unique but every idea creates an
            impact.</p>

          <h2>Pitch</h2>
          <p>On August 19 from 5:30pm to 9pm at the Canzani Auditorium a part
            of CCAD Campus, the top 6 teams will be pitching for $75,000 in
            funding provided by The Business of Good Foundation, IGS Energy,
            and the Columbus Foundation.</p>

          <h2>People's Choice</h2>
          <p>Once pitches end, purchase points to give to your favorite idea.
            If they win they receive the total funds raised!</p>
        </div>
      </div>
    </div>
  </div>
</section>
