.navbar-default {
  background-color: $white;
  margin-bottom: 0;

  .composite-logo {
    height: $line-height-computed;
    line-height: $line-height-computed;
    .logo {
      border-right: 1px solid $brand-primary;
      padding-right: 0.5em;
      vertical-align: middle;
      position: relative;
      top: -25%;
    }
    .tenant {
      padding-left: 0.5em;
      font-size: ms(1);
    }
  }

  .logo {
    height: 25px;
  }

  .navbar-nav {
    li {
      font-size: ms(0);
    }
  }

  .navbar-total {
    margin: 0;
    color: $brand-primary;
    border: 1px solid $brand-primary;
    padding: 5px 10px;

    @media (min-width: $screen-sm) {
      margin: 17px 15px;
    }
  }
}
