.project-card {
  background-color: white;
  margin-bottom: $grid-gutter-width * 2;
  position: relative;
  font-size: ms(0);

  .card-image {
    background-size: cover;
    height: 12em;
    background-position: center center;
  }
  .card-content {
    text-align: left;
    padding: $grid-gutter-width / 2;
  }

  .card-project-title {
    margin-top: 0;
    line-height: 1.5;
    font-weight: bold;
    font-size: ms(0);
    color: $brand-primary;
  }

  .card-description {
    font-size: ms(0);
    line-height: ms(2);
  }


  .card-footer {
    font-size: ms(0);
    padding: $grid-gutter-width / 2;
    width: 100%;
    border-bottom: 2px solid $brand-primary;
    color: $brand-primary;
    text-align: left;
  }

  .card-points {
    font-weight: bold;
  }

  .card-learn-more {
    float: right;
  }

  &-eliminated {
  }

  @media (min-width: $screen-sm) {
    .card-content {
      height: 12em;
    }
    .card-footer {
      position: absolute;
      bottom: 0;
    }
  }

  @media (min-width: $screen-md) {
    .card-content {
      height: 18em;
    }
  }

  @media (min-width: $screen-lg) {
    .card-content {
      height: 17.5em;
    }
  }

  &-winner {
    $ribbon-size: 80px;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: $ribbon-size;
      height: $ribbon-size;
      top: -$ribbon-size / 2;
      right: -$ribbon-size / 2;
      @include rotate(45deg);
      background-color: $orange;
    }

    &::after {
      $size: 29px;
      content: '';
      background-image: image-url('cup.png');
      background-size: $size * 0.8;
      background-repeat: no-repeat;
      background-position: bottom left;
      position: absolute;
      width: $size;
      height: $size;
      top: 0;
      right: 0;
    }
  }

  &-winner-large {
    .card-image {
      height: 22em;
    }

    @media (min-width: $screen-sm) {
      .card-content {
        height: 12em;
      }
    }
  }
}
